@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-image">
    <h1 class="display-4">BIENVENIDO A TU APP RESTAURANTE</h1>
    <p>¡Hola, usuario! Desde aquí puedes gestionar categorías, productos, empleados y mucho más para tu restaurante.</p>
</div>